/* General setting */

div{
    word-break: keep-all;
    table-layout: fixed;
}

span {
    margin-right: 8ex;
}

a.menu {
    text-align: center;
    text-decoration: none;
    color: #515151;
}

a.menu_now {
    text-align: center;
    text-decoration: none;
    color: #969696;
}

a.link {
    text-align: center;
    text-decoration: underline;
    color: #515151;
}

li.extended{
    margin-bottom: 2ex;
    word-break: keep-all;
}

/* Detailed setting */

header.header_background {
    background-color: #f5f5f5;
    width: 100%;
    min-width: 768px;
    height: 5ex;
}

div.page_background{
    background-color: #f5f5f5;
    min-width: 768px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

div.page_foreground{
    width: 760px;
    padding: 1ex 3%;
    background-color: white;
    word-break: keep-all;
}

div.content{
    width: 100%;
    height: 250ex;
    font-family: Arial;
    display: flex;
    justify-content: center;
    background-color: white;
    word-break: keep-all;
}


header.menu{
    width: 100%;
    margin-top: 1ex;
    padding: 0 1ex 0 1ex;
    display: flex;
    align-items: center;
    text-align: justify;
    background-color: white;
}

hr.content_horizontal_bar{
    width: 100%;
}


header.content_top {
    height: 10ex;
    width: 100%;
    text-align: right;
    background-color: white;
}

    div.content_top_left {
        width: 50%;
        float: left;
        text-align: right;
        padding-right: 5ex;
    }

    div.content_top_right {
        width: 50%;
        float: right;
        text-align: left;
        padding-left: 5ex;
    }


div.content_bottom {
    padding: 3ex;
    height: inherit;
    width: 100%;
    background-color: white;
    text-align: left;
}

li.sub_extended {
    margin-bottom: 1ex;
}

h4.title {
    color: #515151;
    font-size: 125%;
}

td.row {
    text-decoration-line: underline;
}

p.content {
    text-align: justify;
    word-break: keep-all;
    justify-content: center;
}

ul {
    text-align: justify;
    word-break: keep-all;
}